<div class="c-hero js-hero" style="background-image:url({{hero_image|default(images_url~"/support/default-hero.jpg")}});">
    <div class="c-hero__inner">
        <div class="container">
            <h1 class="c-featured-title mb-7">
                <span>{{hero_title}}</span>
            </h1>
        </div>
    </div>
</div>