/* ==========================================================================
   CSS
   ========================================================================== */

$debugging: false;

/* Bootstrap
   ========================================================================== */

// Initialisation
@import "settings/settings.global";

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// Optional
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/utilities";

// 7.5px WIDTH ON XS
@media (max-width: map-get($grid-breakpoints, sm)){
    .row {
        margin-right: -7.5px;
        margin-left: -7.5px;
    }
    .row > .col,
    .row > [class*="col-"] {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }
}


.container {
	max-width: $container-max-width;
}

/* Project's stylesheets
   ========================================================================== */

// Tools
@import "tools/tools.cf7";
@import "tools/tools.fonts";

// Elements
@import "elements/elements.a";
@import "elements/elements.header";
@import "elements/elements.input";

// Components
@import "components/components.burger";
@import "components/components.button";
@import "components/components.featured-title";
@import "components/components.hero";
@import "components/components.last";
@import "components/components.logo";
@import "components/components.menu";
@import "components/components.nav";
@import "components/components.pattern";
@import "components/components.wp";

// Objects
@import "objects/objects.container";
@import "objects/objects.crop";
@import "objects/objects.inner-container";
@import "objects/objects.list";
@import "objects/objects.section";

// Utilities
@import "utilities/utilities.cover";
@import "utilities/utilities.expand";
@import "utilities/utilities.font-size";
@import "utilities/utilities.font-weight";
@import "utilities/utilities.text-big";


/* Display breakpoints
   ========================================================================== */

@if $debugging == true {

	body:after {
		color: #000;
		font-family: Helvetica;
		font-size: 12px;
		padding: 5px;
		font-weight: bold;
		right: 10px;
		position: fixed;
		text-align: center;
		text-transform: uppercase;
		//bottom: 10px;
		top: 50%;
		transform: translateY( -50% );
		width: 200px;
		z-index: 9999;
		background: #c0c0c0;
		border: solid 1px #000;

		@each $name, $value in $grid-breakpoints {
			@include media-breakpoint-up($name) {
				content: '#{$name} - min-width: #{$value}';
			}
		}

	}

}